*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
#game{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
#action-board{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:10px;
    width: 10%;
}
#action-board button{
    width:100%;
    background: none;
    border: 2px solid tomato;
    transition: .1s;
}
#action-board button:hover{
    background-color: tomato;
    color:white;
}
#action-board button:active{
    transform:scale(1.15);
}

.gameBoard{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.gameBoard hr{
    background-color: black;
    height: 2px;
    width: 40vh;
}
.choiceDisplay{
    height: 25vh;
    width:25vh;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#choices{
    margin: 20px 0 20px 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.choice{
    height: 15vh;
    width: 15vh;
    border: 2px solid black;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:.2s;
    cursor:pointer;
}
.choice:hover{
    transform:scale(1.1);
}
.choice:active{
    transform:scale(.9);
}
input[type = "radio"]{
    display: none;
}
#score-display{
    width: 10%;
}
img{
    max-width: 100%;
    max-height: 100%;
}
#sub-button{
    background:none;
    border-radius: 10px;
    cursor:pointer;
    transition:.1s;
    
}
#sub-button:active{
    transform: scale(1.2);
}

